extends layout

block content
  h1= title
  div(class="container-fluid")
        div(class="row")
            -
                let House = [
                      {
                        "engine_name": "maruthi",
                        "Size": 500,
                        "engine_cost": 500
                    },
                    { 
                        "engine_name": "tata",
                        "Size": 100,
                        "engine_cost": 15000
                    },
                    {
                        "engine_name": "kia",
                        "Size": 700,
                        "engine_cost": 10000
                    },                   
                ]
            each c,index in House
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.engine_name}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.Size}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.engine_cost}

                script.                
                      function buy(num)
                      {
                            alert(`You purchased item ${num+1}`)
                      }